{% extends 'base2.html' %}

{% block title %}Add Blog{% endblock title %}

{% load static %}

{% block content %}
<style>
 
</style>
{% endblock content %}

{% block body %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light p-3">

        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        <h3 class="text-dark">Add Blog</h3><br>  

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <button class="btn btn-primary">Post</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock body %}
