{% extends 'dashboardbase.html' %}

{% block title %}Edit Category{% endblock title %}

{% block content %}

<div class="container mt-1">
  <div class="row justify-content">
    <div class="col-md-6">
      <div class="card p-3">

        <h2>Edit Category</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <a href="{% url 'my-categories' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
