{% extends 'dashboardbase.html' %}

{% block title %}Edit Blog{% endblock title %}

{% load static %}

{% block body %}

<style>

  #table-own {
    max-width: 1057px;
    margin: 0 auto;
    padding: 20px;
    margin-right: 200px; 
  }
  .table {
    font-size: 14px;
  }
  .dashboard-bg {
    background: linear-gradient(to bottom, #007bff, #00bfff);
  }
  /* New style for blue text */
  .blue-text {
    color: #007bff;
  }
  
  /* Add border to left and right sides */
  .table-container {
    border: 1px solid #ddd;
  }

  .mb-4.blue-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #add-blog-btn{
    border: 2px solid black;
    
  }
</style>

{% endblock body %}

{% block content %}
<div class="table-container" id="table-own">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <!-- ... other form alerts ... -->

        <h3 class="text-dark">Edit Blog</h3><br>  

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.title.label_tag }}
          {{ form.title }}<br><br>
          {{ form.author.label_tag }}
          {{ form.author }}<br><br>
          {{ form.content.label_tag }}
          {{ form.content }}<br><br>
          {{ form.category.label_tag }}
          {{ form.category }}<br>

          If not in dropdown! Add Category:
          <a href="/addcategory/">Add Category</a><br><br>
          
          {{ form.tags.label_tag }}
          <input type="text" placeholder="write some tags" name="{{ form.tags.name }}" id="tags-input" value="{{ tag_names }}"><br><br>
          

          {{ form.image.label_tag }}<br>
          {{ form.image }}<br><br>

          <button class="btn btn-primary">Update</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var inputElm = document.getElementById('tags-input');
    var tagSuggestions = {{ tag_suggestions|safe }};
    
    // Initialize Tagify on the input field
    var tagify = new Tagify(inputElm, {
      enforceWhitelist: true,
      whitelist: tagSuggestions, // Use tag suggestions provided by the context
    });
  });
</script>

{% endblock content %}
