{% extends 'base2.html' %}
{% block title %}Signup{% endblock title %}

{% block content %}
<style>

</style>

{% endblock content %}

{% block body %}
<div class="signup-container">

  <div class="signup-card">

    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There are errors in your submission:</strong>
        <ul>
          {% for field_name, field_errors in form.errors.items %}
            {% for error in field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <h3 class="signup-title">Signup</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="login-link">Already a user? <a href="{% url 'login' %}">Login</a></p>
    </form>
  </div>
</div>
{% endblock body %}
